*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music-player {
    background: #d3b683;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #f1ba42;
    box-shadow: 0 5px 5px rgba(219, 157, 49, 0.623);
    cursor: pointer;
}

.song-img{
    width: 220px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(219, 157, 49, 0.623);
}

.music-player h1{
    font-size: 20px;
    font-weight: 500 bold;
    color: #333;
    margin-top: 20px;
    margin-bottom: 8px;
}

.music-player p{
    font-size: 14px;
    color: #333;
}

#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #f1ba42;
    border-radius: 4px;
    margin: 40px 0;
    cursor: pointer;
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #f8a311;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 5px 5px rgba(219, 157, 49, 0.623);
}

#volume{
    -webkit-appearance: none;
    height: 6px;
    background: #f1ba42;
    border-radius: 4px;
    margin: 40px 0;
    cursor: pointer;
}

#volume::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #f8a311;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 5px 5px rgba(219, 157, 49, 0.623);
}




.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f1ba42;
    box-shadow: 0 5px 5px rgba(219, 157, 49, 0.623);
    cursor: pointer;
}

.controls div:nth-child(2){
    transform: scale(1.4);
    background: #f1ba42;
    color: #fff;
}

.music-volume i{
    transform: scale(1.3);
    color: #f8a311;
    width: 30px;
    height: 30px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 0 5px 5px rgba(219, 157, 49, 0.623);
    cursor: pointer;
}

/* Song List */

#playlist{
    background: linear-gradient(135deg, #d3b683, #df9515 ) ;
    width: 400px;
    padding: 25px 35px;
    text-align: left;
    margin-left: 100px;
    display: none;
}

#songlist{
    cursor: pointer;
    list-style: none;
}

.playlist li:nth-child(1){
    height: 50px;
    padding-left: 60px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 12px; 
    background: url(media/Nhung\ loi\ hua\ bo\ quen\ img.jpg) no-repeat left center; 
    background-size: contain;
}

.playlist span{
    font-weight: bold;
    font-size: 20px;
}

.playlist h1{
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}

.playlist li:nth-child(2){
    height: 50px;
    padding-left: 60px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 12px; 
    background: url(media/Ban\ doi.jpg) no-repeat left center; 
    background-size: contain;
}

.playlist li:nth-child(3){
    height: 50px;
    padding-left: 60px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 12px; 
    background: url(media/tung\ quen.jpg) no-repeat left center; 
    background-size: contain;
}








